{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>

    <script src="https://kit.fontawesome.com/8ddc754e9e.js" crossorigin="anonymous"></script>
</head>
<div style="background-color:yellow;" class="container-fluid">
<h1 style="color: skyblue;" align="center">TRAVEL GO.COM</h1>
<h4 style="color: black;" align="center">FIND YOUR HAPPINESS WORLD WIDE</h4>
</div>
<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <!-- <a class="navbar-brand" style="color: chocolate;">
   <a href="login.html" style="float: right;">LOGIN NOW</a> -->
      

      
      
      
      <!-- <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel">NEW USER?</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            KINDLY CREATE ACCOUNT
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button><a href="{% url 'login' %}">
              <button type="button" class="btn btn-primary">DO IT NOW</button></a>
            </div>
          </div>
        </div>
      </div>
      </a> -->
    <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>




<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner pr-5" style="width: 90%;margin-left: 80px;">
      <div class="carousel-item active">
        <img src="{% static 'images/a4.jpg' %}" class="d-block w-100" alt="..." height="400px">
      </div>
      <div class="carousel-item">
        <img src="{% static 'images/12.jpeg' %}" class="d-block w-100" alt="..." height="400px">
      </div>
      <div class="carousel-item">
        <img src="{% static 'images/c3.jpg' %}" class="d-block w-100" alt="..." height="400px">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div><div class="mt-5">
  <div class="row">
    <div class="col-4">
    <div class="card ml-5" style="width: 400px;">
    <img src="{% static 'images/c3.jpg' %}" class="card-img-top" alt="..." width="350PX" height="350PX">
  <div class="card-body">
    <h5 class="card-title">5 STAR HOTELS</h5>
    <p class="card-text"></p>
    <a href=" /5star/" class="btn btn-primary">Go </a>
  </div>
</div>
    </div>
    
   <div class="col-4">
    <div class="card" style="width: 400px">
     <img src="{% static 'images/a6.jpg' %}" class="card-img-top" alt="..." height="350PX" width="350PX">
  <div class="card-body">
    <h5 class="card-title">LUXOURY RESORTS</h5>
    <p class="card-text"></p>
    <a href="#" class="btn btn-primary">Go </a>
  </div>
</div>
    </div>
    
   <div class="col-4">
    <div class="card" style="width: 400px">
     <img src="{% static 'images/b1.jpg' %}" class="card-img-top" alt="..." height="350PX" width="350PX">
  <div class="card-body">
    <h5 class="card-title">ROOMS</h5>
    <p class="card-text"></p>
    <a href="#" class="btn btn-primary">Go</a>
  </div>
</div></div>
    </div><br><br><br>
    
  
<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-twitter"></i
      ></a>

      <!-- Google -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-google"></i
      ></a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-instagram"></i
      ></a>

      

      <!-- Github -->
      
    </section>
    <!-- Section: Social media -->

    <!-- Section: Form -->
    
    <!-- Section: Text -->
    <section class="mb-4">
      <p>
       </p>
    </section>
   
    <section class="">
      
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <a href="">ABOUT</a>
              
        </div>
       
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
         <a href="">CONTACT</a>

         
          
        </div>
       
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <a href="">PARTNER WITH US</a>

         
          
        </div>
       
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <a href="">TERMS & policy</a>

          <!-- <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Link 1</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 2</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 3</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 4</a>
            </li>
          </ul> -->
        </div>
        
      </div>
      
    </section>
   
  </div>
  
</footer>








</body>
</html>